* {
  box-sizing: border-box;
}

body{
  font-family: 'Padauk', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: whitesmoke;
  color: rgb(94, 92, 92);
}

header{
  margin-top:30px;
  width: 40%;
  background-color: rgb(69, 221, 221);
  color: rgb(94, 92, 92);
  height: 100px;
  display: flex;
  justify-content: lefts;
  align-items: center;
  padding: 20px;
}

.paw-icon{
  font-size: 300%;
  margin: 0 20px;
}

.headings h1,
.headings h3{
  margin: -10px;
}

.headings h3{
  font-weight: 400;
}

.container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border: 5px solid rgb(236, 199, 130);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background-color: rgb(231, 243, 243);
}

/***Profile Container***/

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

.profile-pic img{
  border-radius: 50%;
  width: 250px;
  height: auto;
  border: 10px solid rgb(69, 221, 221);
}

.profile p{
  margin-top: 0;
}

/***Post and Comment Containers***/

.thumb-icon{
  font-size: 170%;
  color: rgb(94, 92, 92);
}

.likes{
  display: flex;
  align-items: center;
  justify-content: left;
}

.post-comment{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.post-container,
.comment-container{
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 40px;
  width: 45%;
}

.comment-container h3{
  margin-top: 5px;
}

.posts,
.comments{
  height: 75%;
  overflow-y: auto;
  padding-right: 10px;
}

.posts img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***All Buttons***/

.btn {
  border: none;
  padding:5px 0;
  background-color: transparent;
  margin:3px;
  width: 100px;
  text-align: center;
  border-radius: 2px;
  cursor:pointer;
  color: rgb(19, 179, 179);
}

.btn:focus{
  outline:none;
}

.prev-next {
  display: flex;
  justify-content: flex-start;
  height: 6%;
}

.next{
  margin-left: auto;
}

.arrow-icon{
  font-size: 225%;
}

.icon-btn{
  outline: none;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  width: 10%;
  text-align: left;
  margin-right: 10px;
}

.inputs button{
  margin-top: 10px;
}

/***Search and Comment Inputs***/

textarea,
input {
  border-radius: 3px;
  outline: none;
  border: transparent;
}

textarea {
  vertical-align: bottom;
}

input {
  height: 25px;
}

@media only screen and (max-width: 600px){
  .container,
  header{
    width:90%;
  }

  h3{
    font-size: 100%;
  }

  h2{
    font-size: 110%;
  }

  .icon-btn{
    width: 20%;
  }
}

